In [3]:
#Loading updated stats
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

team = pd.read_csv('teamstats_updated.csv')

In [5]:
team

,Index,Player,AVG,OPS,GP-GS,AB,R,H,2B,3B,...,TB,SLG%,BB,HBP,SO,GDP,OB%,SF,SH,SB-ATT
0,12,"Ostberg, Ian",0.365,1.015,14-13,52,7,19,7,0,...,32,0.615,5,0,13,0,0.400,3,1,3-Feb
1,5,"Zimbardo, Jared",0.333,0.884,25-23,90,16,30,7,1,...,42,0.467,9,4,25,0,0.417,0,2,9-May
2,44,"McDermott, Andrew",0.314,0.998,16-11,35,10,11,2,0,...,19,0.543,7,2,14,0,0.455,0,0,1-Jan
3,17,"Melnick, Danny",0.308,0.971,23-23,91,22,28,9,0,...,52,0.571,12,2,23,2,0.400,0,0,2-Feb
4,3,"O'Connor, Keegan",0.299,0.769,29-28,107,15,32,8,0,...,43,0.402,4,8,41,0,0.367,1,0,4-Mar
5,1,"Maves, Kyle",0.296,0.823,28-28,108,27,32,7,3,...,45,0.417,21,1,28,2,0.406,3,2,16-Dec
6,24,"DeRosa, Matt",0.288,0.667,19-16,59,6,17,4,0,...,21,0.356,2,0,11,3,0.311,0,1,0-1
7,26,"Donofrio, Anthony",0.280,0.734,25-22,93,16,26,4,1,...,35,0.376,10,2,16,1,0.358,1,0,11-Sep
8,16,"Thomas, Zak",0.273,0.793,3-Apr,11,3,3,1,0,...,4,0.364,2,1,7,0,0.429,0,1,0-0
9,38,"Kohn, Michael",0.266,0.860,26-20,79,15,21,3,0,...,39,0.494,11,2,27,0,0.366,1,1,1-Jan
10,8,"Arici, Gianni",0.258,0.593,6-Nov,31,2,8,1,0,...,9,0.290,2,0,9,1,0.303,0,0,0-0
11,2,"Uejima, Julian",0.231,0.606,4-Jul,13,6,3,0,0,...,3,0.231,2,1,6,0,0.375,0,0,3-Mar
12,4,"Tuffy, McGwire",0.219,0.664,19-18,64,14,14,0,1,...,19,0.297,6,9,18,0,0.367,0,0,0-0
13,33,"Mueller, Sebastian",0.200,0.592,20-18,70,4,14,3,0,...,23,0.329,4,2,19,3,0.263,0,1,1-Jan
14,22,"LaChance, Sam",0.182,0.669,21-18,66,15,12,2,0,...,23,0.348,9,5,24,1,0.321,1,1,2-Jan
15,13,"Swenson, Sean",0.156,0.735,10-Dec,32,7,5,0,0,...,11,0.344,8,5,9,0,0.391,1,0,0-1
16,7,"Seaburg, Braydon",0.000,0.333,Jul-00,2,1,0,0,0,...,0,0.000,1,0,2,0,0.333,0,0,1-Jan